<section class="wrapper">
  <div class="main-container">
    <div class="card-container" style="position: relative">
      <button
        mat-mini-fab
        color="light"
        matTooltip=""
        style="position: absolute; right: 20px; top: 5px; z-index: 10"
      ></button>

      <section class="tabs">
        <div class="tab-items">
          <a href="">Tab 1</a>
          <a href="">Tab 2</a>
          <a href="">Tab 3</a>
          <a href="">Tab 4</a>
        </div>
      </section>

      <!-- <section class="card-content">
        <router-outlet></router-outlet>
      </section> -->
    </div>
  </div>
</section>
