@mixin backgroundimages {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #eef;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.images {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  .two-images {
    .side-img {
      position: absolute;
      bottom: -10%;
      left: -400px; //-555
      width: 600px;
      height: 600px;
      transform: rotate(45deg);
      z-index: -1;
      background-image: url('../../assets/shapes/homepage-2.svg');
      @include backgroundimages;
      opacity: 0.5;
    }

    .side-img2 {
      position: absolute;
      right: -350px; //-515
      top: -100px;
      width: 600px;
      height: 600px;
      transform: rotate(280deg);
      z-index: -1;
      background-image: url('../../assets/shapes/homepage-1.svg');
      @include backgroundimages;
      opacity: 0.5;
    }
    .inner-circle {
      position: absolute;
      background-image: url('../../assets/shapes/circle-red.svg');
      @include backgroundimages;
      bottom: 30%;
      height: 100px;
      width: 100px;
    }
  }
  .outside-circle {
    position: absolute;
    background-image: url('../../assets/shapes/circle-red.svg');
    @include backgroundimages;
    right: 4%;
    bottom: 15%;
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 870px) {
  .images {
    .two-images {
      .side-img {
        left: -565px;
      }
      .side-img2 {
        right: -550px;
      }
      .inner-circle {
        opacity: 0;
      }
    }
    .outside-circle {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 400px) {
  .images {
    .two-images {
      .side-img {
        left: -580px;
      }
      .side-img2 {
        right: -565px;
      }
    }
  }
}
